*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
.font-inter{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1360px;
}
.nav-bar .nav-logo{
    width: 139px;
    height: 60px;
    margin: 16px 0px 16px 120px;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    width: 365px;
    height: 24px;
    /* margin-top: 34px ; */
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
}
.nav-bar a{
    text-decoration: none;
    color: #000000;
    
}

.nav-bar .nav-btn .btn{
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}