*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
.font-inter{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1360px;
}
.nav-bar .nav-logo{
    width: 139px;
    height: 60px;
    margin: 16px 0px 16px 120px;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    width: 365px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
}
.nav-bar a{
    text-decoration: none;
    color: #000000;
    
}

.nav-bar .nav-btn .btn{
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.nav-btn .btn:hover{
    background-color: #2cd171;
    color: #ffffff;
}

/* navigation section end here */

/* hero-section start */

.hero-section{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 20px;
    color: #FFFFFF;


}


.hero-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 16px;
    font-weight: 500;
    justify-content: center;
}
.hero-section .hero-container .label{
    color: #469165;
    width: 229px;
    height: 35px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-bottom: 20px;
    display: inline-block;
    align-items: center;
    gap: 10px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

}
.hero-text h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 18px;

 }
 .hero-text .color-green{
    color: #469165;

 }
.hero-text p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
    max-width: 700px;
 }
 .hero-btn{
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 .hero-btn button{
    padding: 16.5px 16px 16.5px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 1x solid transparent;
 }

 .hero-btn .first-btn{
    background-color:#469165 ;
    color: #FFFFFF;
 }
 .hero-btn .first-btn:hover{
    background-color: #2cd171;
    color: #ffffff;
 }
.hero-btn .second-btn{

     background-color: transparent;
     border: 3px solid #FFFFFF;
     color: #FFFFFF;
}
.hero-btn .second-btn:hover{
    background-color: #25302c;
    color: #ffffff;
}

/* hero section end here */

/* Notes cards start here */

.notes{
    margin-top: 120px;
    padding: 0 20px;
}

.notes-contain{
    text-align: center;
    max-width: 800px;
    margin: 0 auto 45px auto;
}
.notes-contain h1{
    font-size: 48px;
    font-weight: 700;
    align-items: center;
}
.notes-contain p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    font-weight:400 ;
}
.cards-container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    width: 270px;
    height: 290px;
    padding: 40px 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0,0.06) ;
    background: #FFFFFF;
    border: 1.5px solid #eee;
    text-align: center;
}

.icons-box{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    margin: 13px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
}

.icons-box img{
    width: 32px;
    height: 32px;
}
.card h3{
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    text-align: center;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
    text-align: center;
}


/* notes end here */

